---
layout: default
title: Projects & Open-Source
tags: projects
permalink: /projects/
js:
- js/gh_projects.js
- js/util_buttons.js
---

<h1>Projects</h1>

<p>
    I've listed some of my projects in order of somewhat relative importance. I also like to keep a working public list of ideas that I've had, but either didn't have the time or the specific skillset to work on.
    <br \> <br \>
    If you find any of <a href="https://docs.google.com/document/d/1WmWSMfMtIO1zc6hTeCaHSpgNa_ckkzaNKaK7TA1eTqU/edit?usp=sharing" target ="_blank">them</a> interesting, please reach out as I'd love to talk more!
</p>

<hr>

<a style="color: black" href="https://delph.us" aria-label="Delphus" target="_blank" rel="noopener noreferrer">
    <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
        <div class="">
            <span class="sr-only">Delphus</span>
            <img src="https://delph.us/static/media/0e0b65dcdb8b83574f3b0e7f7647393e-200.webp" height="100px" width="100px" style="min-width: 100px">
        </div>
        <div>
            <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Delphus</h4>
            <p class="leading-5 text-gray-700 dark:text-gray-300">Making research data verifiable and data tracing effortless.</p>
            <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> ReactJS | Blockchain | Healthcare | Entrepreneurship</p>
        </div>
    </div>
</a>

<br \>

<a style="color: black" href="https://www.youtube.com/watch?v=Z73_yfdQW64" aria-label="TedX" target="_blank" rel="noopener noreferrer">
    <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
        <div class="">
            <span class="sr-only">TedX Talk</span>
            <img src="https://i1.wp.com/shareicon.net/data/2015/09/04/95554_ted_512x512.png" height="100px" width="100px" style="min-width: 50px">
        </div>
        <div>
            <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Escaping the hype cycle of new technologies - TedX Talk</h4>
            <p class="leading-5 text-gray-700 dark:text-gray-300">I gave a talk on my beliefs about overhyped technology.</p>
            <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Entrepreneurship | Public Speaking</p>
        </div>
    </div>
</a>

<br \>

<a style="color: black" href="https://tartanhacks.com/" aria-label="TartanHacks" target="_blank" rel="noopener noreferrer">
    <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
        <div class="">
            <span class="sr-only">TartanHacks</span>
            <img src="https://static.pinnacle.us.org/2021/vendor/tartanhacks.png" height="100px" width="100px" style="min-width: 50px">
        </div>
        <div>
            <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">TartanHacks</h4>
            <p class="leading-5 text-gray-700 dark:text-gray-300">Part of the team running CMU's largest, international hackathon.</p>
            <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Hackathons | Events | Active</p>
        </div>
    </div>
</a>

<br \>

<a style="color: black" href="https://mahacks.com/" aria-label="MAHacks" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">MAHacks</span>
          <img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/602/497/datas/original.png" height="100px" width="100px" style="min-width: 50px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">MAHacks</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Ran one of the largest hackathons in the Northeast, raising >$20000</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Hackathons | Events</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://www.linkedin.com/company/ileralife/about/" aria-label="ilera" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">ilera</span>
          <img src="https://media-exp1.licdn.com/dms/image/C560BAQHkapLp_n1Pag/company-logo_200_200/0/1519177004031?e=1635984000&v=beta&t=9xEXN1CgSK0dCvnPE-9LphorDJy5dAJmXj4Ddpz8MJc" height="100  px" width="100px" style="min-width: 50px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">ilera</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Connecting individuals who are perservering through similar health issues.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Entrepreneurship | Healthcare</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://www.webtoons.com/en/challenge/the-achilles-project/list?title_no=445074&page=1" aria-label="TAP" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">The Achilles Project</span>
          <img src="../../images/projects/tap_adobespark.png" height="100px" width="100px" style="min-width: 50px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">The Achillles Project</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">A story about powers and politics.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Art | Writing</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gasleaks.info" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://static.thenounproject.com/png/449670-200.png" height="100px" width="100px" style="min-width: 50px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Gas Leaks Project</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Mapping gas leaks in my hometown and surrounding areas.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Environment</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gitlab.scintillating.us/scintillating/cortex" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="../../images/projects/cortex.png" height="100px" width="100px" style="min-width: 50px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Cortex</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Decentralized identity and attestation for professionals through Ethereum</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Blockchain | Tech | Torus and ENS Awards - EthWaterloo</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gitlab.scintillating.us/scintillating/cortex" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">FullSync</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An attempt at making a more secure, open-source, and syncable OneTab.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | Active</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://github.com/stuckathomedev/akira" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Ahria + Akira</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An attempt at a python-based chatbot to try and replace Siri or Alexa</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | 2nd @ LexHack</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gitlab.com/stuckathome/production-focus" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Production Focus</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An Alexa app that gave reminders for productivity.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | 1st @ HackExeter</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://github.com/acton-robotics-team" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">FTC Robotics</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Kotlin Code for our high school robotics team.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="hhttps://github.com/knoweth/knoweth" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Knoweth</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An Anki-esque flash card reviewer with better UI/UX.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://github.com/scintillating/litcoin" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Litcoin</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An Ethereum-based peer-literary review incentive platform.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | 3rd @ HackNEHS</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gitlab.scintillating.us/scintillating/cortex" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Modulus</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An attempt at decentralized machine learning over multiple devices.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | HackUMass</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://github.com/kunal-sharda/MCspeedrunVS" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">MC Speedrun VS</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">A minecraft team-based speedrun plugin.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://github.com/stuckathomedev/modulus" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Modulus</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An attempt at a Java-based price comparison aggeragator.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="https://gitlab.scintillating.us/scintillating/quecoin" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">QueCoin</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">An incentivized and uncensorable reddit and/or StackExchange clone.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech | 3rd @ MIT Blueprint</p>
      </div>
  </div>
</a>

<br \>

<a style="color: black" href="" aria-label="#" target="_blank" rel="noopener noreferrer">
  <div class="active-project" style="display: flex; align-items: center; border-color: #999; border-width: 1px; border-style: solid; border-radius: 5px;">
      <div class="">
          <span class="sr-only">#</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" height="30px" width="30px" style="min-width: 10px">
      </div>
      <div>
          <h4 class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100">Consulting Work</h4>
          <p class="leading-5 text-gray-700 dark:text-gray-300">Did tech consulting work in high school for several small-large companies.</p>
          <p class="text-gray-700 dark:text-gray-300"><b>Tags:</b> Tech</p>
      </div>
  </div>
</a>


<!-- <h2>Public Repos</h2>

<div id="display-projects"></div>

<div class="circle-button">
      <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
        <img src="{{ site.url }}/images/logos/top.png">
  </div>
</div>

{% for js in page.js %}
  <script type="text/javascript">
  {% include {{ js }} %}
  </script>
{% endfor %}

<script src="https://cdn.jsdelivr.net/emojione/3.0.3/lib/js/emojione.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("#display-projects").getRepos("thundergolfer"); /* Add your github username. */
  });
</script>

<style>
    .active-project {
        transition: all .2s ease-in-out;
    }
    
    .active-project:hover {
        transform: scale(1.01);
    }
</style> -->
